*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #383838;
  font-family: sans-serif;
  color: white;
}

.myCont {
  width: 1600px;
  margin: 0 auto;
}

a {
  color: unset;
  text-decoration: none;
}